[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
jaxlib = "==0.4.25"
jax = "==0.4.25"
tensorflow = "==2.15.0"
tensorflowjs = "==4.17.0"

[dev-packages]

[requires]
python_version = "3.10"
